<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}
	
	<!-- If a particular id is set, it takes it from the specified partial -->	
	{{ if isset .Params "id" }}
		{{ partial .Params.id . }}
	{{ else }}
	
	<section class="section" style="border: 1px dotted #ddd;">	
		<div class="container">
			{{ with .Params.image }}<img src="{{ . | absURL }}" width="100%" alt="post-image"> {{ end }}
			<h1>{{ .Params.title }}</h1>
		</div>
		<div class="container">
			<div class="row">
				<p>{{ .Content }}</p>
			</div>
		</div>
	</section>	

	{{ end }}
	
<!-- If a particular id is set, it takes it from the specified partial -->	
	{{ if isset .Params "include_affiliates" }}	
		{{ partial "affiliates.html" . }}		
	{{ end }}

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}
	


	{{ partial "footer.html" . }}
	
</body>
</html>